:root {
  /* Colors */
  --slate-900: #1f314f;
  --slate-500: #68778d;
  --slate-300: #d5e1ef;
  --white: #fff;

  /* Typography - Font Family */
  --font-family: "Outfit", sans-serif;

  /* Typography - Font Size */
  --font-size-1: 2.2rem;
  --font-size-2: 1.5rem;

  /* Typography - Line Height  */
  --line-height-preset-1: 120%;
  --line-height-preset-2: 140%;

  /* Typography - Letter Spacing  */
  --letter-spacing-preset-1: 0rem;
  --letter-spacing-preset-2: 0.02rem;

  /* Spacing */
  --spacing-500: 4rem;
  --spacing-300: 2.4rem;
  --spacing-200: 1.6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  background-color: var(--slate-300);
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.qr-container {
  text-align: center;
  background-color: var(--white);
  border-radius: 2rem;
  width: 32rem;
  padding: var(--spacing-200);
  padding-bottom: var(--spacing-500);
}

.qr-image {
  width: 100%;
  border-radius: 2rem;
  margin-bottom: var(--spacing-300);
}

.qr-heading {
  color: var(--slate-900);
  font-size: var(--font-size-1);
  line-height: var(--line-height-preset-1);
  letter-spacing: var(--letter-spacing-preset-1);
  margin-bottom: var(--spacing-200);
}

.qr-description {
  color: var(--slate-500);
  font-size: var(--font-size-2);
  line-height: var(--line-height-preset-2);
  letter-spacing: var(--letter-spacing-preset-2);
  padding: 0 var(--spacing-200);
}
