* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  height: 100vh;

  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;
  justify-items: center;
}

.qr-container {
  text-align: center;
  width: 270px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 12px;
  margin-bottom: 12px;
  padding: 15px;
}

.qr-image {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 12px;
}

.qr-heading {
  color: hsl(218, 44%, 22%);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 12px;
}

.qr-description {
  color: hsl(216, 15%, 48%);
  font-size: 15px;
  line-height: 1.4;
  margin-bottom: 12px;
}

.attribution {
  font-size: 11px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
